

.vs

addons

obj

bin/*.exe
bin/*.dll
bin/*.lib
bin/*.pdb
bin/*.exp
BMapper.app

bin/BMapper.app
BMapper.sln
config.make

icon.rc

Makefile
of.entitlements
openFrameworks-Info.plist
Project.xcconfig

BMapper.vcxproj
BMapper.vcxproj.filters
BMapper.vcxproj.user

